<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %property{HOSTNAME} %X{requestId} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
    <!-- always keep this on debug, this is logging our requests -->
    <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="scala.slick.session" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
</configuration>
