<h3>Analytics</h3>
<h5>AppId: {{appId}}</h5>
<div ng-controller="AnalyticsCtrl">

<form name="form" class="form-horizontal well">
    <fieldset>
        <legend>Filter</legend>
        <div class="row">
            <div class="span6">
                <div class="control-group">
                    <label class="control-label">What</label>

                    <div class="controls">
                        <div class="btn-group">
                            <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                                {{filters.what.actionTypes[0].name}}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="actionType in filters.what.actionTypes"><a>{{actionType.name}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                                {{filters.what.campaigns[0].name}}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="campaign in filters.what.campaigns"><a>{{campaign.name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span6">
                <div class="control-group">
                    <label class="control-label">Who</label>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="span6">
                <div class="control-group">
                    <label class="control-label">Where</label>

                    <div class="controls">
                        <div class="btn-group">
                            <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                                {{current.filters.where.name}}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="where in filters.where"><a ng-click="changeFilter('where', where)">{{where.name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span6">
                <div class="control-group">
                    <label class="control-label">When</label>

                    <div class="controls">
                        <div class="btn-group">
                            <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                                {{filters.when[0].name}}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="when in filters.when"><a ng-click="changeFilter('when', when)">{{when.name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>

<div class="row-fluid">
    <div class="span7 well" style="height:350px">
        <div class="row">
            <div class="span1 offset1">
                <div><strong>Places</strong></div>
            </div>
            <div class="span9 offset1">
                <div class="btn-group">
                    <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                        {{current.places.measure.name}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="measure in placeFilters.measures"><a
                                ng-click="changeAnalyticsFilter('places', 'measure', measure)">{{measure.name}}</a>
                        </li>
                    </ul>
                </div>
                <div class="btn-group">
                    <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                        {{current.places.aggregate.name}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="aggregate in placeFilters.aggregates"><a
                                ng-click="changeAnalyticsFilter('places', 'aggregate', aggregate)">{{aggregate.name}}</a>
                        </li>
                    </ul>
                </div>
                <!--
                <div class="btn-group">
                    <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                        {{current.places.display.name}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="display in placeFilters.displays"><a ng-click="changeAnalyticsFilter('places', 'display', display)">{{display.name}}</a></li>
                    </ul>
                </div>
                -->
                <div class="btn-group">
                    <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                        {{current.places.time.name}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="time in placeFilters.times"><a
                                ng-click="changeAnalyticsFilter('places', 'time', time)">{{time.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <fs:area
                bind="places"
                duration="750"
                width="800"
                height="400"
                interpolate="true"/>
    </div>
</div>

<div class="row-fluid">
    <div class="span7 well" style="height:350px">
        <div class="row">
            <div class="span1 offset1">
                <div><strong>Customers</strong></div>
            </div>
            <div class="span9 offset1">
                <div class="btn-group">
                    <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                        {{current.customers.measure.name}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="measure in customerFilters.measures"><a
                                ng-click="changeAnalyticsFilter('customers', 'measure', measure)">{{measure.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <fs:donut
                outer-radius="200"
                duration="750"
                bind="customers"/>
    </div>
</div>

<div class="row-fluid">
    <div class="span7 well" style="height:350px">
        <div class="row">
            <div class="span1 offset1">
                <div><strong>Messages</strong></div>
            </div>
            <div class="span9 offset1">
                <div class="btn-group">
                    <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                        {{current.messages.measure.name}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="measure in messageFilters.measures"><a
                                ng-click="changeAnalyticsFilter('messages', 'measure', measure)">{{measure.name}}</a>
                    </ul>
                </div>
                <div class="btn-group">
                    <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                        {{current.messages.aggregate.name}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="aggregate in messageFilters.aggregates"><a
                                ng-click="changeAnalyticsFilter('messages', 'aggregate', aggregate)">{{aggregate.name}}</a>
                    </ul>
                </div>
                <div class="btn-group">
                    <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                        {{current.messages.display.name}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="display in messageFilters.displays"><a
                                ng-click="changeAnalyticsFilter('messages', 'display', display)">{{display.name}}</a>
                    </ul>
                </div>
                <div class="btn-group">
                    <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                        {{current.messages.time.name}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="time in messageFilters.times"><a
                                ng-click="changeAnalyticsFilter('messages', 'time', time)">{{time.name}}</a>
                    </ul>
                </div>
            </div>
        </div>
        <fs:area
                bind="results.facets.Times"
                duration="750"
                width="800"
                height="400"
                interpolate="true"/>
    </div>
</div>
</div>