<form name="form" novalidate>
    <fieldset>
        <legend>Compose Message</legend>
        <div class="row">
            <div class="span5">
                <label>Campaign name</label>
                <input type="text" name="name" ng-model="campaign.name" placeholder="Type your campaign name here"
                       required> <br/>
                <span class="error" ng-show="form.name.$dirty && form.name.$error.required">
        Required!</span><br/>
                <label>Message</label>
                <input type="text" name="message" ng-model="campaign.message"
                       placeholder="Type the short form of your message here" required>
                <span class="error" ng-show="form.message.$dirty && form.message.$error.required">
        Required!</span><br/>
                <label>Full text</label>
                <textarea rows="3" name="text" ng-model="campaign.text"></textarea><br/>

                <label>URL</label>
                <input type="url" name="url" ng-model="campaign.url" placeholder="http://...">
                <span class="error" ng-show="form.url.$dirty && form.url.$error.required">
        Required!</span>
      <span class="error" ng-show="form.url.$dirty && form.url.$error.url">
        Not valid url!</span>
                <br/>
                <button type="submit" class="btn">Submit</button>
            </div>
            <div class="span5">
                <span>{{campaign.message}}</span>
            </div>
        </div>
    </fieldset>
</form>
