<div ng-controller="MarketingBuild">
    <form name="form" class="form-horizontal" novalidate>
        <fieldset>
            <legend>Compose Message</legend>
            <div class="row">
                <div class="span8">
                    <div class="control-group">
                        <label class="control-label">Campaign name</label>

                        <div class="controls">
                            <input type="text" name="name" ng-model="campaign.name"
                                   placeholder="Type your campaign name here"
                                   required>
                            <span class="input-help"
                                  ng-show="form.name.$dirty && form.name.$invalid">Invalid name</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Message</label>

                        <div class="controls">
                            <input type="text" name="message" ng-model="campaign.message"
                                   placeholder="Type the short form of your message here" required>
                        <span class="input-help"
                              ng-show="form.message.$dirty && form.message.$invalid">Invalid message</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Full text</label>

                        <div class="controls">
                            <textarea rows="3" name="text" ng-model="campaign.text"></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">URL</label>

                        <div class="controls">
                            <input type="url" name="url" ng-model="campaign.url" placeholder="http://...">
                            <span class="input-help" ng-show="form.url.$dirty && form.url.$invalid">Invalid URL</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">When</label>

                        <div class="controls">
                            Every <input type="text" ng-model="campaign.time" class="span4"/>
                            between <input ng-model="campaign.start" ui-date/>
                            and
                            <input ng-model="campaign.end" ui-date/>
                        </div>
                    </div>
                    <div class="control-group" ng-repeat="clause in clauses">
                        <label class="control-label">
                            <div>
                                <div ng-show="$index==0">If</div>
                                <div class="btn-group" ng-show="false">
                                    <button type="button" class="btn btn-primary" ng-model="radioModel"
                                            btn-radio="'Right'">Right
                                    </button>
                                </div>
                                <div ng-show="$index==1" class="btn-group">
                                    <button type="button" class="btn btn-primary" ng-model="predicate"
                                            btn-radio="'and'">And
                                    </button>
                                    <button type="button" class="btn btn-primary" ng-model="predicate" btn-radio="'or'">
                                        Or
                                    </button>
                                </div>
                                <div ng-show="$index>1">{{predicate}}</div>
                            </div>
                        </label>

                        <div class="controls">
                            <select
                                    ng-model="attribute"
                                    ng-options="a.name for a in attributes"
                                    class="span3"></select>
                            <select
                                    ng-model="clause.compareOp"
                                    ng-options="c.name for c in compareOps" class="span3"></select>
                            <input type="text" ng-model="clause.value" class="span4"/>
                            <a class="icon-plus-sign" ng-click="createClause()"></a>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-primary" ng-click="save()">Submit</button>
                        </div>
                    </div>
                </div>
                <div class="span2">
                    <span>{{campaign.message}}</span>
                </div>
            </div>
        </fieldset>
    </form>
</div>